@{ Layout = "~/Views/Shared/LayoutShared.cshtml";}
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<form class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="txtNome">Nome</label>
            <input type="text" class="form-control" id="txtNome" placeholder="Nome" value="" required>
            <div class="valid-feedback">
                Ótimo!
            </div>
            <div class="invalid-feedback">
                Favor preencher o Nome!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="txtCpf">CPF:</label>
            <input type="text" class="form-control" id="txtCpf" placeholder="CPF" value="" required>
            <div class="invalid-feedback">
                Favor preencher o CPF!
            </div>
            <div class="valid-feedback">
                Ótimo!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="txtLogin">Login:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                </div>
                <input type="text" class="form-control" id="txtLogin" placeholder="Login" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Favor preencher o Login!
                </div>
                <div class="valid-feedback">
                    Ótimo!
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="txtSenha">Senha:</label>
            <input type="password" id="txtSenha" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
            <div class="invalid-feedback">
                Favor preencher a senha!
            </div>
            <div class="valid-feedback">
                Ótimo!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="txtEmail">E-mail:</label>
            <input type="email" class="form-control" id="txtEmail" placeholder="E-mail" value="" required>
            <div class="invalid-feedback">
                Favor preencher o E-mail!
            </div>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="ddlPerfil">Perfil</label>
            <select class="form-control" id="ddlPerfil">
                <option>Administrador</option>
                <option>Aluno</option>
                <option>Professor</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </div>
</form>