<mat-card class="col-xs-12 col-sm-5 h-400 p-5 container container-size">
  <div *ngIf="showHeader">
    <h3 class="mt-2">Login</h3>
  </div>
  <mat-form-field class="full-size">
    <input matInput placeholder="Usuário" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field class="full-size mt-2">
    <input matInput placeholder="Senha" [errorStateMatcher]="matcher">
  </mat-form-field>

  <div class="d-flex flex-row-reverse mt-3">
    <div class="margin-l">
      <button mat-raised-button color="primary">Login</button>
    </div>
  </div>
</mat-card>
