.example-spacer {
  flex: 1 1 auto;
}

.font-ajusted {
  font-size: 16px;
}

.button-b {
  border: none;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid rgba(65, 49, 143, 0.795);
  border-radius: 3px;
}

.button-b:hover {
  color: white;
  background-color: rgba(65, 49, 143, 0.795);
}

#nav_header {
  background-color: #4F3CAE;
}

.modal-top {
  display: -ms-flexbox;
  display: flex;
  -ms-f0lex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
